.sidenav{
    background-color: #3f51b5;
    width: 200px;

}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.submenu-arrow {
    margin-left: auto;
}

.submenu-wrapper {
    padding-left: 16px;
}

.submenu-item {
    font-size: 13px;
}

.content {
    padding: 16px;
    background-color: #fff;
}

