<mat-sidenav-container class="conteiner">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <!-- Menu dinâmico conforme as roles -->
      <ng-container *ngFor="let item of menuItems">
        <a *ngIf="canShow(item.roles)"
           [routerLink]="item.route"
           mat-list-item>
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
      </ng-container>
      <!-- Botão de sair -->
      <a *ngIf="authService.isAuthenticated()" (click)="logout()" mat-list-item>
        <mat-icon>logout</mat-icon>
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
