<mat-card class="lead-form-card">
  <form [formGroup]="form" (ngSubmit)="register()" class="register-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuário</mat-label>
      <input matInput formControlName="userName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Permissões</mat-label>
      <mat-select formControlName="permissions" multiple [compareWith]="comparePermissions">
        <mat-option *ngFor="let p of permissionsOptions" [value]="p">
          {{ p.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      {{ isEditing ? 'Atualizar' : 'Cadastrar' }}
    </button>
    <div *ngIf="error" class="error-msg">{{ error }}</div>
  </form>
</mat-card>
