<app-lead-search (leadSelecionado)="onLeadSelecionado($event)"></app-lead-search>

<ng-container *ngIf="leadSelecionado">

  <!-- Mostra lista se NÃO está adicionando -->
  <div *ngIf="!adicionandoEndereco">
    <button mat-raised-button color="primary" (click)="mostrarFormEndereco()">
      <mat-icon>add_location_alt</mat-icon> Adicionar Endereço
    </button>
    <app-lead-endereco-list [leadId]="leadSelecionado.id"></app-lead-endereco-list>
  </div>

  <!-- Mostra form se está adicionando -->
  <div *ngIf="adicionandoEndereco">
    <app-lead-endereco-form
      [leadId]="leadSelecionado.id"
      (enderecoSalvo)="onEnderecoSalvo()"
    ></app-lead-endereco-form>
    <button mat-stroked-button color="warn" (click)="adicionandoEndereco = false" style="margin-top:12px;">
      <mat-icon>arrow_back</mat-icon> Voltar para lista
    </button>
  </div>
</ng-container>
